---
layout: layout.njk
---
<article class="animate-in">

  <div class="post-meta">{{ page.date.toDateString() if page.date else date }}</div>
  <h1 class="post-title">{{ title }}</h1>

  <div class="post-body">
    {{ content | safe }}
  </div>
</article>
